.body {
    max-width: 100vw;
    overflow: hidden;
    margin-top: 5rem;
}

.container {
    padding-top: 2rem;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    padding-left: 5vw;
}

.header {
    margin: 1rem 0 0 5vw;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    padding: 0;
}

.listItem {
    width: 20vw;
    margin: 1rem 2vw;
    list-style: none;
    margin: 2rem 5vw;
    display: flex;
    justify-content: center;
}

.listContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemCover {
    max-width: 30vw;
    height: 20rem;
    object-fit: cover;
}

.borrowBtn {
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #000;
    color: #000;
    font-weight: bolder;
    transition: all 0.5s;
}

.borrowBtn:hover{
    background-color: #000;
    color: #fff;
}

.returnBtn {
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 1px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #000;
    color: #000;
    font-weight: bolder;
    transition: all 0.5s;
}

.returnBtn:hover{
    background-color: #000;
    color: #fff;
}


.footerContainer {
    position: fixed !important;
    display: flex;
    flex-direction: column;
    bottom: 10vh;
    right: 1rem !important;
    justify-content: space-between;
    align-self: center;
    height: 10rem;
    width: 6rem;
}

.nextBtn {
    background: #000;
    color: #fff;
    width: 5rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    border: 2px solid transparent;
    font-weight: bolder;
}

.prevBtn {
    background: #000;
    color: #fff;
    font-weight: bolder;
    width: 5rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.nextBtn:hover {
    border: 2px solid rgb(165, 29, 29);
    background-color: transparent;
    color: #000;
}

.prevBtn:hover {
    border: 2px solid rgb(165, 29, 29);
    background-color: transparent;
    color: #000;
}